body{
    background: linear-gradient(to right,cornflowerblue,snow ); 
    color: black; 
    font-family: 'Quicksand', sans-serif; 
    } 
    
nav{ background:cornsilk;
     color:red;
     font-family:'proportional',monospace;
     font-size:13.1px;}
h1{
colour:white;
font-size:20px;
margin-left:55px;
margin-right:50px;
}
h1 {
display: flex;
background: linear-gradient(-45deg,firebrick,sandybrown ,red,gold ,limegreen ,seagreen);
background-size: 300% 300%;
background-position:0% 10%;
box-shadow:0px 0px 20px black;
cursor: pointer;}
h1{animation:gradient 20s ease infinite;}

@keyframes gradient 
{
0%{background-position:0% 10%;}
50% {background-position: 100% 50%;}
100%{background-position: 0% 50%;}
}

button{ 
background:palegreen;
}

img{margin-left:165px;
    margin-top:20px;
    height:50px;
   }